/**
 * Растягиваем html и body на всю ширину
 */

html,
body
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: $gray--lighter;
}

/**
 * Включаем наследование боксовой модели
 */

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Функциональный блок, необходимый для прижатия футера. Для ограничения общей ширины страницы и
 * предотвращения "обрезания контента на маленьких разрешениях. В нем лежит все кроме футера
 * 1- для того чтобы отсчет начинался от wrapper - Там где лежит вся наш верстка
 *2 - если что-то вылезет из сontainer, не будет появляться горизонатльный скролл и пустые белые поля
 *3 - для статичных сайтов равен размеру viewport, при сужении экрана до значиения меньше 960px контент не скрывается, а появляется горизонтальный скролл
 * - для прижатия футера, отталкивает футер на высоту окна (футер опускается ниже видимой высоты wrapper в браузере, поэтому его нужно назад на эту высоту поднять)
*/
.wrapper
{
    position: relative; // 1
    overflow: hidden; // 2
    min-width: 960px; //3
    min-height: 100%; //4
}

.wrapper:after
{
    display: block;
    height: 60px;
    content: "";
}

/**
 * Функциональный блок, который выравнивает контент по горизонтальному центру. То с чем будет работать пользователь и
 * то что нарисовал дизайнер в фотошопе, должна распологаться по центру
 */
.container
{
    margin: 0 auto;
    max-width: 940px;
    @extend %clearfix;
}

/**
 * Однотипный контент верстается списками, поэтому нужно обнулить стили для них
 * пункты меню
 * навигация
 * социалки
 * товары интернет магазина
 * списки работ портфолион
 * и прочее прочее однотипное
 */

ul
{
    margin: 0;
    padding: 0;
    li
    {
        list-style: none;
    }
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

/**
 Прибитие футера
Футер не должен зависеть от контента на вашей странице, он всегда должен быть расположена внизу (прибит)
При выводе 404 ошибки (футер не должен пододвигаться под контент)
 */

.footer
{
  position: relative;
  min-width: 960px;
  margin-top: -60px;
  height: 60px;
  background: $gray--darkest;
}
